h1{
    text-align: center;
    font-weight: 900;
    text-decoration: underline overline red;
    font-size: 250%;
}

p{
    text-align: justify;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
}

a{
    color: red;
    text-decoration: none;
}