body{
    font-family: 'Calibri', sans-serif;
}

h1{
    font-size: 6em;
    text-align: center;
    color: red;
}

nav{
    font-size:1.5em;
    display :flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
}

ul,
li{
    display: flex;
    margin:0;
    padding: 0 20px;
}


/* @media(min-width: 500px){
    h1{
        color: aqua;
    }
} */


/* ============================================================== */
/* Permainan dengan Media */
/* 
@media screen and (min-width: 500px){
    h1{
        color: rgb(62, 204, 251);
        font-size: 30px;
    }
}

@media screen and (min-width: 700px){
    h1{
        color:rgb(0, 187, 255);
        font-size:40px;
    }
}

@media screen and (min-width: 850px){
    h1{
        color:rgb(0, 123, 255);
        font-size: 50px;
    }
}

@media screen and (orientation: landscape){
    body{
        background-color: darkgray;
    } */
/* } */
/* ============================================================== */

@media (max-width: 768px){
    h1{
        font-size: 4em;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 2em;
    }
}